<!DOCTYPE html>
<html>
<head>
	<% include html_header.ejs %>
</head>
<body>
	<% include body_header.ejs %>
	
	<div class="jumbotron">
		<h1><%= event.eventName %></h1>
		<p class="lead"><%= event.eventDetail %><p/>
		</p>
	</div>

	<div class="container">

		<section>

			<h2>集計情報</h2>
			<hr>
			<div class="form-group row">
				<h3 for="quest1" class="col-xs-12 control-label">結果</h3>

				<div class="col-sm-8">
          <% if(!Boolean(event.veilFlg)) { %>
					<div id="chart_div" style="width: 900px; height: 700px;"></div>

					<hr>

				</div>

			</div>
			<hr>
			<div class="form-group row">
				<h3 for="quest3" class="col-xs-12 control-label">感想</h3>
				<div class="col-xs-8 col-sm-8 ">
					<hr>
					<!-- ループさせる -->
					<% for(var i=0; i<vote.length; i++) {%>
					<% if(vote[i].comment) { %>
					<div class="row">
						<div class="col-xs-12 col-sm-2 col-md-2"><%= vote[i].userName%></div>
						<div class="col-xs-12 col-sm-6 col-md-6" style="color:#;"> <%= vote[i].comment%></div>
					</div>
					<hr>
					<% } %>
					<% } %>
					<!-- ループさせる -->
				</div>
			</div>
			<% } else {%>
        <h4 class="text-warning">現在 投票結果は公開されておりません</h4>
      <% } %>

			<br>



			<h2>管理ページ</h2>
			<hr>
			<form class="" role="form" action="/mng/<%= event._id %>" method="post">
				<div class="form-group">
					<div class="col-xs-12 col-sm-3">
						<input type="password" name="password"  placeholder="Password" class="form-control">
					</div>
					<div class="col-xs-12 col-sm-3">
						<button type="submit" name="submit" class="btn-lg btn-success">管理ページ</button>
					</div>
				</div>
			</form>
		</section>
	</div>

	<!--  lazy load -->

	<script>
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['名前', 'スコア'],
			<% for(var i=0; i<event.candidates.length; i++) {%>
				["<%= event.candidates[i].candidateName %>",
				<% if(score[event.candidates[i].candidateId]) { %>
					<%= score[event.candidates[i].candidateId]%>
					<% } else { %>
						0
						<% } %> 
						],
						<% } %> 
						]);

		var view = new google.visualization.DataView(data);
		view.setColumns([0, 1,
			{ calc: "stringify",
			sourceColumn: 1,
			type: "string",
			role: "annotation" }
			]);

		var options = {
			title: '投票結果',
			vAxis: {title: '', titleTextStyle: {color: 'red'}},
			hAxis: {ticks: [10,20,30,40], format:'###'}
		};

		var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
		chart.draw(view, options);
	}
	</script>

	<% include body_footer.ejs %>
</body>
</html>