<!DOCTYPE html>
<html>
<head>
	<% include html_header.ejs %>
</head>
<body>
	<% include body_header.ejs %>
	
	<div class="jumbotron">
		<h1><%= title %></h1>
		<p class="lead">これは、非公式投票システム。<p/>簡単に投票するための「場」を作るためのシステムです。</p>
		<p><a class="btn btn-lg btn-success" href="/newform" role="button">新しい投票場を作成する</a></p>
	</div>

	<div class="container">
		<h2>最近登録された投票場</h2>
		<hr>
		<!-- loopする -->
		<% for(var i=0; i<events.length; i++) {%>
		<div class="row">
			<div class="col-xs-12 col-xs-4 col-md-2"> <a href="vote/<%= events[i]._id %>"><%= events[i].eventName %></a></div>
			<div class="col-xs-12 col-xs-6 col-md-6"> <%= events[i].eventDetail %></div>
			<div class="col-xs-6 col-xs-2 col-md-2"> <a href="mng/<%= events[i]._id %>">管理・集計</a></div>
		</div>
		<hr>
		<% } %>
		<!-- //loopするここまで -->

	</div>

	<% include body_footer.ejs %>

</body>
</html>