<!DOCTYPE html>
<html>
<head>
	<% include html_header.ejs %>
</head>
<body ng-app="">
	<% include body_header.ejs %>
	
	<div class="jumbotron">
		<h1><%= event.eventName %></h1>
		<p class="lead"><%= event.eventDetail %><p/>
		</p>
	</div>

	<div class="container">

		<form class="" name='voteSomeone' role="form" action="/voted/<%= event._id %>" method="post">

			<h2>投票フォーム</h2>
			<hr>
			<div class="form-group row">
				<label for="quest1" class="col-xs-8 col-sm-2 control-label">名前</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="name" name="name" rows="3" placeholder="名前" required></input>
				</div>
			</div>
			<hr>
			<div class="form-group row">
				<label for="quest1" class="col-xs-8 col-sm-2 control-label">投票</label>
				<div class="col-sm-8">
					<select name="elect" class="form-control">
						<% for(var i=0; i<event.candidates.length; i++) {%>
						<option value="<%= event.candidates[i].candidateId %>">
							<%= event.candidates[i].candidateName %>
						</option>
						<% } %> 
					</select>
				</div>
			</div>
			<hr>
			<div class="form-group row">
				<label for="quest3" class="col-xs-8 col-sm-2 control-label">コメント</label>
				<div class="col-sm-8">
					<textarea  ng-model="comment" class="form-control"  name="comment" rows="3" placeholder="コメント"></textarea>
				</div>
			</div>

			<br>
			<button type="submit" class="btn-lg btn-success" ng-disabled="voteSomeone.$invalid" disabled="disabled">Submit</button>
			<span ng-show="voteSomeone.$invalid" class="comment" style="color:red;">未入力の項目や正しく入力できていない項目があります</span>
		</form>
	</div>

	<% include body_footer.ejs %>

</body>
</html>